<!DOCTYPE html>
<html>
<head>
  <title>NotePress</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/api.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="/js/moment.min.js"></script>
  <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-default custom-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand site-logo" href="/">NotePress</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
              <ul class="dropdown-menu">
              <% stackList.forEach(function(stack){ %>
                <li><a href="/articles?sort=<%- stack %>"><%- stack %></a></li>
              <% }) %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right ">
          <% if(user !== undefined){ %>
              <li><img class="gravatar" src="<%- gravatar %>"></li>
              <li><a href="/article/post/new"><i class="icon ion-compose"></i></a></li>
              <li><a href="/logout"><i class="icon ion-log-out"></i></a></li>
          <% } else { %>
              <li><a href="/local/login?base=<%- base %>" class="btn btn-login nav-btn">Login</a></li>
              <li><a href="/local/signup" class="btn btn-signup nav-btn ">Sign Up with Evernote</a></li>
          <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <main class="content">
    <%- body %>
  </main>
</body>
<footer>
   <a href="https://github.com/franxyzxyz/notepress" target="_blank"><i class="icon ion-social-github tooltip-icon" data-toggle="tooltip" data-placement="top" title="Check out Github Repo"></i></a>   <a href="https://hk.linkedin.com/in/francesng" target="_blank"><i class="icon ion-social-linkedin tooltip-icon" data-toggle="tooltip" data-placement="top" title="View Frances Ng's linkedin Profile"></i> </a>
</footer>
<script>
  $(function(){
    $('.tooltip-icon').on('mouseover',function(e){
      $(this).tooltip('show')
    })
  })
</script>
</html>